@font-face {
    font-family: Sansation;
    src: url(../fonts/Sansation/Sansation_Light.ttf);
}

@font-face {
    font-family: TitilliumText;
    src: url(../fonts/TitilliumText/TitilliumText-Light.otf);
}

body {
    font-family: 'Sansation', sans-serif;
    font-weight: 300;
    background-color: #e7e7e7;
}

#__nuxt {
    height: 100vh;
}

#__layout {
    height: 100%;
}

.el-container,
.el-main,
.el-footer {
    padding-left: 0;
    padding-right: 0;
}

.el-main {
    padding-top: 0;
    overflow: hidden;
    padding-bottom: 50px;
}

.el-alert {
    margin-bottom: 10px;
}

.app-logo {
    margin: 0;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.relative {
    position: relative;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}

.bg-blue {
    background: transparent url(../img/resources/bg-blue.svg) no-repeat;
    background-size: cover;
}

.bg-green {
    background: transparent url(../img/resources/bg-green.svg) no-repeat;
    background-size: cover;
}

.bg-red {
    background: transparent url(../img/resources/bg-red.svg) no-repeat;
    background-size: cover;
}

.bg-yellow {
    background: transparent url(../img/resources/bg-yellow.svg) no-repeat;
    background-size: cover;
}

.m-0 {
    margin: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'TitilliumText', sans-serif;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

.el-notification__content {
    text-align: left;
}

.app-white {
    padding: 20px;
    background-color: #ffffff;
}

.app-gray {
    padding: 20px;
    background-color: #f5f5f5;
}

.vicemin {
    text-align: center;
    height: 100px;
    background-color: #093168;
    float: left;
    display: inline-table;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 .5px 15px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.vicemin:hover {
    background-color: #194178;
}

.vicemin a {
    text-decoration: none;
    color: #f5f5f5;
}

.half-footer {
    height: 100px;
    width: 48%;
    float: left;
    display: inline-table;
    vertical-align: middle;
}

.righty p, .righty img{
    text-align: right;
    padding-right: 15px;
}

.lefty p, .lefty img{
    padding-left: 15px;
}

div.post-thumbnail {
    height: 170px;
}

div.post-thumbnail img {
    height: 100%;
    object-fit: cover;
}

.entry-title a, .posted-on a {
    text-decoration: none;
}

.nav-sub li {
    padding: 5px 0 5px;
}

.nav-sub li:hover {
    background-color: #ccc; 
}

.nav-sub li a:hover {
    text-decoration: none;
}

.thumbnail-date {
    left: 20px;
    top: 0;
    width: 50px;
    color: #ccc;
    position: relative;
    margin: -173px 0 0;
    padding: 5px;
    text-decoration: none;
    background-color: rgba(9, 49, 104, .85);
}

#main .thumbnail-date {
    left: 20px;
    top: 0;
    width: 50px;
    color: #ccc;
    position: relative;
    margin: -179px 0 0;
    padding: 5px;
    background-color: rgba(9, 49, 104, .85);
}

.fill .post-thumbnail, .fill img {
    width: 100%;
    height: 100%;
}

.legend {
    background-color: rgba(9, 49, 104, .65);
    color: #ccc;
    position: absolute;
    padding: 5px;
    bottom: 5px;
    margin: auto;
}

.pagination-row {
    clear: both;
    padding-left: 33%;
}

.pagination-news {
    clear: both;
    padding-left: 20px;
    text-align: center;
}

.post-thumbnail-padded {
    height: 200px;
    margin: 3px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .modal-content-vid {
    margin: auto;
    display: block;
    width: 70%;
    height: 60%;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 85px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .more-main {
      width: 100%;
      text-align: center;
      padding: 20px 0 20px;
  }
.more-main a {
    padding: 5px;
    background-color: #194178;
    color: #e7e7e7;
    text-decoration: none;
    border-radius: 5px;
}
.bullets {
    width:98vw; 
    color:white; 
    bottom: 60px; 
    position:absolute; 
    text-align:center
}
.bullets span {
    margin: 0 5px;
    cursor: pointer;
}
#slider-news-title {
    position: absolute;
    bottom: 100px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider-news-title-anchor {
    font-size: 1.3em;
    margin-bottom: 50px;
    line-height: 1em;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 10px black;
}
#sectionslider {
    height: 100vh; 
    position: relative; 
    margin-top: -45.3vh; 
    z-index: -10;
    background-image: url("../img/fondo-principal.jpg");
    background-size: cover;
}

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
    .vicemin {
        height: 190px;
    }
    .half-footer {
        font-size: 0.8em
    }
  }
  @media only screen and (max-width: 400px){
    #sectionslider {
        margin-top: -290px; 
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 700px){
    #sectionslider {
        margin-top: -300px; 
    }
  }
  @media only screen and (min-width: 700px){
    #sectionslider {
        margin-top: -303px; 
    }
  }


