@charset "UTF-8";

/* Color del tema */


/* Ubicación de la fuente, obligatoria */

.portal-home {
    background-size: cover;
    background-position: center center;
    background-image: url("../img/fondo-principal.jpg");
    height: 100vh;
    z-index: -10;
}

.portal-home .el-main {
    flex: .995;
}

.portal-home .el-footer {
    height: 48px !important;
}

.portal-home::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.portal-home .app-b-servicio {
    text-align: left;
    display: inline;
}

.el-main .container-home{
      padding: 0 100px 20px;
      margin: -40px 0 0;
      position: relative;
  }
  
.el-main .container-home .app-title{
    margin: 100px 0 0 0;
}

@media (max-width: 1250px) {
    .portal-home .app-b-servicio {
        display: none;
    }
} 

@media (max-width: 700px) {
        .el-main .container-home {
            padding: 30px 30px 0;
    }
}
  