.b-terminos .b-terminos-link {
    font-size: .7rem;
    position: absolute;
    bottom: 36px;
    right: 15px;
}

.b-dialog-terminos .el-dialog {
    width: 92%;
    max-width: 680px;
}

.b-dialog-terminos .el-dialog .el-dialog__body {
    font-size: 1rem;
}